<<<<<<< HEAD
// sections container
.section {
  border-top: solid 2px $grey;
  border-bottom: solid 2px $grey;
  padding: 2rem 5rem;
}

=======
>>>>>>> 3ae35f2ae826e9ea7a9b2b4741ebea9a5a48c3eb
// Container para dar flexbox horizontal
.h-container {
  width: 100%;
  display: flex; // crea contenedor de tipo flex
  flex-direction: row; // dirección de tipo flex
  justify-content: space-between;
}

.posts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 60%;
  padding-top: 1rem;
}

<<<<<<< HEAD

=======
>>>>>>> 3ae35f2ae826e9ea7a9b2b4741ebea9a5a48c3eb
// Contenedor tipo aside con dirección en columnas
.aside-container {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  @media (min-width: 700px) {
    width: 38%;
  }
}

<<<<<<< HEAD

=======
// section container estructura
.section {
  @include padding-4-sides($vertical-space-full-height-container, $horizontal-space-full-width);
}
>>>>>>> 3ae35f2ae826e9ea7a9b2b4741ebea9a5a48c3eb
